<%- include('partials/header') -%>
<%- include('partials/nav') -%>
<body>
<div>
    <section class="mt-6 mx-6">
        <div class="container">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Owen Peters</strong> <small>@mopeters8</small>
                        <br>
                        Thanks for visiting! This calendar is going to be crazy! 
                      </p>
                    </div>
                  </div>
                </article>
              </div>
        </div>
    </section>
</div>


<div class="tile is-ancestor mt-6 mx-6">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">Submit Event</p>

      <form action="./submit_event" method="POST">

        <div class="field">
          <label class="label">Game Name</label>
          <div class="control">
            <input class="input" id="event_name" name="event_name" type="text" placeholder="Minecraft">
          </div>
        </div>

        <div class="field">
          <label class="label">Event Description</label>
          <div class="control">
            <textarea class="textarea" id="event_desc" name="event_desc" placeholder="Build a lovely town."></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <input class="input" id="event_date" name="event_date" type="text" placeholder="4/10/01">
          </div>
        </div>

        <div class="field">
          <label class="label">Time (PST)</label>
          <div class="control">
            <div class="select">
              <select id="event_time" name="event_time">
                <option>10am</option>
                <option>11am</option>
                <option>12pm</option>
                <option>1pm</option>
                <option>2pm</option>
                <option>3pm</option>
                <option>4pm</option>
                <option>5pm</option>
                <option>6pm</option>
                <option>7pm</option>
                <option>8pm</option>
                <option>9pm</option>
                <option>10pm</option>
                <option>11pm</option>
                <option>12am</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" id="event_agree" name="event_agree">
              I agree to the <a href="#">terms and conditions</a>
            </label>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" id="submit" type="submit">Submit</button>
          </div>
          <div class="control">
            <form action="./settings">
              <button class="button" type="submit">Cancel</button>
            </form>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="tile is-parent mr-6">
    <div class="tile is-child box">
      <p class="title">Events</p>

      <% eventList.forEach(event => {%>

      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong><%= event.event_name %> by <%= event.username %></strong>
                <small><%= event.event_date %> @ <%= event.event_time %></small>
                <br><%= event.event_desc %></br>
              </p>
            </div>
          </div>
        </article>
      </div>

      <%})%>

    </div>
  </div>
</div>
</body>
<%- include('partials/footer') -%>